@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Inter', serif;
	font-optical-sizing: auto;
	font-style: normal;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}

	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;

		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;

		--destructive: 11 88% 57%;
		--destructive-foreground: 11 88% 88%;

		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;

		--secondary: 32 100% 58%;
		--secondary-foreground: 32 100% 98%;

		--primary: 180 76% 23%;
		--primary-foreground: 180 76% 98%;

		--sidebar-background: 0 0% 99%;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary: 180 76% 23%;
		--sidebar-primary-foreground: 180 76% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 240 5.9% 90%;
		--sidebar-ring: 240 5.9% 10%;

		--input: 240 5.9% 90%;

		--radius: 0.45rem;
	}
}

@layer base {
	body {
		@apply bg-background text-foreground;
	}
}
